/* 

mobile

*/

.errorContent {
  text-align: center;
}

.errorNumber {
  font-size: 96px;
  font-weight: bold;
  margin-top: 175px;
}

.errorText {
  font-size: 18px;
  margin: 1px 20px 130px 20px;
}

.backButton {
  font-size: 14px;
}

.backButton:visited {
  color: #ff6060;
}

/* 

Desktop

*/

@media (min-width: 992px) {
  .errorNumber {
    font-size: 288px;
  }

  .errorText {
    font-size: 36px;
  }

  .backButton {
    font-size: 18px;
  }
}
